doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Freelancer - Start Bootstrap Theme
        // Bootstrap core CSS
        link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        // Custom styles for this template
        link(href='css/freelancer.min.css', rel='stylesheet')
    body#page-top
        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Pablo Eckardt
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fa.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Portfolio
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
        // Header
        header.masthead
            .container
                img.img-fluid(src='img/profile_.JPG', alt='', style='width:300px;height:400px;')
                .intro-text
                    span.name Hello, I'm Pablo
                    hr.star-light
                    span.skills Software Engineer - User Experience Designer - Keyboard Connoisseur
        // Portfolio Grid Section
        section#portfolio
            .container
                h2.text-center Portfolio
                hr.star-primary
                .row
                    for project in modalsData
                        .col-sm-4.portfolio-item
                            a.portfolio-link(href='##{project["modalID"]}', data-toggle='modal')
                                .caption
                                    .caption-content
                                        i.fa.fa-search-plus.fa-3x
                                img.img-fluid(src='#{project["imgLink"]}', alt='')
        // About Section
        section#about.success
            .container
                h2.text-center About
                hr.star-light
                .row
                    .col-lg-4.ml-auto
                        p
                            | Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
                    .col-lg-4.mr-auto
                        p
                            | Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
                    .col-lg-8.mx-auto.text-center
                        a.btn.btn-lg.btn-outline(href='https://docs.google.com/document/d/1ACUQW9kPbtwqVdi-ybaf2eIp_6mePVOe_Qh-tX97zmE/edit?usp=sharing' target="_blank")
                            i.fa.fa-download
                            |               My Resume

        // Footer
        footer.text-center
            .footer-above
                .container
                    .row
                        .footer-col.col-md-4
                            h3 Location
                            p
                                | Austin Tx
                        .footer-col.col-md-4
                            h3 Around the Web
                            ul.list-inline
                                li.list-inline-item
                                    a.btn-social.btn-outline(href='https://github.com/PabloEckardt')
                                        i.fa.fa-fw.fa-github
                                li.list-inline-item
                                    a.btn-social.btn-outline(href='https://www.linkedin.com/in/pablo-eckardt')
                                        i.fa.fa-fw.fa-linkedin
                        .footer-col.col-md-4
                            h3 Contact Me
                            p
                                | pabloeckardt@utexas.edu <br>
                                | (512) 366-2516
            .footer-below
                .container
                    .row
                        .col-lg-12
                            | Copyright © Pabloeckardt.com 2017
        // Scroll to Top Button (Only visible on small and extra-small screen sizes)
        .scroll-top.d-lg-none
            a.btn.btn-primary.js-scroll-trigger(href='#page-top')
                i.fa.fa-chevron-up
        // Portfolio Modals

        each project in modalsData
            div( id=project["modalID"]).portfolio-modal.modal.fade(tabindex="-1", role='dialog', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .close-modal(data-dismiss='modal')
                            .lr
                                .rl
                        .container
                            .row
                                .col-lg-8.mx-auto
                                    .modal-body
                                        h2 #{project["projectTitle"]}
                                        hr.star-primary
                                        img.img-fluid.img-centered(src='#{project["imgLink"]}', alt='')
                                        p
                                            !{project["description"]}
                                        ul.list-inline.item-details
                                            li
                                                strong
                                                | Type of Project:&nbsp#{project["type"]}

                                            li
                                                strong
                                                | Tools:&nbsp#{project["tools"]}

                                            li
                                                strong
                                                | Date:&nbsp#{project["date"]}

                                            li
                                                | Source code: &nbsp
                                                strong
                                                    a(href='#{project["git"]}') Git Repo
                                        button.btn.btn-success(type='button', data-dismiss='modal')
                                            i.fa.fa-times
                                            |                     Close


        // Bootstrap core JavaScript
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/popper/popper.min.js')
        script(src='vendor/bootstrap/js/bootstrap.min.js')
        // Plugin JavaScript
        script(src='vendor/jquery-easing/jquery.easing.min.js')
        // Contact Form JavaScript
        script(src='js/jqBootstrapValidation.js')
        script(src='js/contact_me.js')
        // Custom scripts for this template
        script(src='js/freelancer.min.js')
